{{ define "main" }}
  <article>
    <h1>{{ if not .IsHome }}{{ .Title }}{{ end }}</h1>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
          <p>{{ .Summary }}
            {{ if .Truncated }}
              <!-- This <div> includes a read more link, but only if the summary is truncated... -->
              <span>
                <a href="{{ .RelPermalink }}">Read More…</a>
              </span>
            {{ end }}          
          </p>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
